<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasks</title>
</head>
<body>

<div>

    <div>

        <a href="/tasks/add-task" class="add-item">
            Add new task
        </a>

    </div>
    <table>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Status</th>
            <th>Depends on</th>
            <th>User</th>
            <th>Start time</th>
            <th>End time</th>
        </tr>

        <tr class="item" th:each="task : ${tasks}">
            <td th:text="${task.getTitle()}"></td>
            <td th:text="${task.getDescription()}"></td>
            <td th:text="${task.getStatus().toString()}"></td>
            <td>
                <ul th:each="dependents : ${task.dependsOn}">
                    <li th:text="${dependents.getTitle()}"></li>
                </ul>
            </td>
            <td th:text="${task.getUser().getName()} + ' ' + ${task.getUser().getSurname()}"></td>
            <td th:text="${task.getStartTime()}"></td>
            <td th:text="${task.getEndTime()}"></td>


            <td>

                <form method="post" th:action="@{'/tasks/{id}/delete' (id=${task.getId()})}">
                    <button type="submit" class="delete-item">Delete</button>
                </form>

                <a th:href="@{'/tasks/edit-task/{id}' (id=${task.getId()})}" class="edit-item">Edit</a>
            </td>
        </tr>
    </table>

</div>
<div>
    <ul id="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/logout">Logout</a></li>
    </ul>
</div>
</body>
</html>
