<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Tasks</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>

    <style>

        div.container {
            margin: 10% 10% 10% 20%;
        }
        .logout {
            margin-left: 77%;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="row">
        <form class="form-group">
            <input type="hidden" name="tasksStatus" th:value="Independent">
            <button type="submit" class="btn btn-success">Filter by non-dependent tasks</button>
        </form>
    </div>

    <div class="row">
        <form class="form-group">
            <input type="hidden" name="tasksStatus" value="finished">
            <button type="submit" class="btn btn-success">Filter dependent and finished tasks</button>
        </form>
    </div>

    <div class="row">
       <form class="form-group" th:method="post" th:action="@{'/tasks/userAndEstTimes'}">
           <select class="form-control"
                   id="userId"
                   name="userId">
               <option
                       th:each="user : ${users}"
                       th:value="${user.getId()}"
                       th:text="${user.getName()} + ' ' + ${user.getSurname()}">
               </option>
           </select>
           <button type="submit">Find</button>
       </form>
    </div>
    <div class="row">
        <div th:if="${hasError}">
            <div style="color:red" th:text="${error}"></div>
        </div>
        <table class="table table-striped" id="tasksId">
            <thead class="thead-dark">
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Status</th>
                <th>Depends on</th>
                <th>User</th>
                <th>Start time</th>
                <th>End time</th>
                <th></th>
            </tr>
            </thead>

            <tbody class="tbody">
            <tr class="item" th:each="task : ${tasks}">
                <td th:text="${task.getTitle()}"></td>
                <td th:text="${task.getDescription()}"></td>
                <td th:text="${task.getStatus().toString()}"></td>
                <td>
                    <ul th:each="dependents : ${task.dependsOn}">
                        <li th:text="${dependents.getTitle()}"></li>
                    </ul>
                </td>
                <td th:text="${task.getUserName()}"></td>
                <td th:text="${task.getStartTime()==null} ? '/' : (${task.getStartTime().toLocalDate()} + ' ' + ${task.getStartTime().toLocalTime()})"></td>
                <td th:text="${task.getEndTime()==null} ? '/' : (${task.getEndTime().toLocalDate()} + ' ' + ${task.getEndTime().toLocalTime()})"></td>
                <td>

                    <form method="post" th:action="@{'/tasks/{id}/delete' (id=${task.getId()})}">
                        <button type="submit" class=" btn btn-danger delete-item">Delete</button>
                    </form>

                    <a th:href="@{'/tasks/edit-task/{id}' (id=${task.getId()})}" class="btn btn-info edit-item">Edit</a>
                </td>
            </tr>
            </tbody>

        </table>
        <div>
            <a href="/tasks/add-task" class="btn btn-primary add-item">
                Add new task
            </a>

        </div>

        <div class="logout">
            <div id="nav">
                <a class="btn btn-secondary logout" href="/logout">Logout</a>
            </div>
        </div>

    </div>
</div>
</body>
</html>
